body {
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
}

img {
    max-width: 100%;
}

.bg-blue {
    background-color: #0088cc;
}

.bg-green {
    background-color: #8dd04c;
}

.btn {
    border: 1px solid #eeeeee;
    border-radius: 6px;
    padding: 10px 25px;
    font-weight: 700;
}

.inline {
    display: flex;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.text-bold {
    font-weight: 600;
    color: #222222;
}

.text-lg-bold {
    font-weight: 700;
}

.text-grey {
    color: #777777;
    font-weight: 400;
}

.pd-tp-24 {
    padding-top: 24px;
}

.text-deep-grey {
    color: #999999;
}

.top-header {
    padding: 20px 0;
}

.top-header-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 19.28px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #0088cc;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.menu-item {
    padding: 20px 28px;
}

.demo-img {
    margin-right: 14px;
}

.slider-1 {
    background-image: url('../img/banner-1.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 660px;
    width: 100%;
}

.slider-item-text {
    color: #0088cc;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 253px;
    margin-bottom: 42px;
}

.slider-item-btn {
    border-radius: 6px;
    background-color: #ff400f;
    color: #ffffff;
    padding: 15px 30px;
    width: 138px;
}

.section-header {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.big .block-description {
    border: 1px solid #eeeeee;
    border-top: 0;
    margin-top: -6px;
    padding: 0 30px;
    height: 394px;
    margin-bottom: 58px;
}

.block-description {
    border: 1px solid #eeeeee;
    border-top: 0;
    margin-top: -6px;
    padding: 0 26px;
    height: 193px;
    margin-bottom: 30px;
}

.pre-main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.big .pre-main {
    margin-bottom: 32px;
}

.pre-main-date .date {
    color: #ff400f;
    font-size: 20px;
    font-weight: 700px;
    line-height: 21.77px;
}

.big .pre-main-date .date {
    color: #ff400f;
    font-size: 22px;
    padding-top: 30px;
}

.big .block-category {
    font-size: 15px;
    line-height: 21.77px;
    font-size: 15px;
    color: #999999;
}

.big .block-header {
    color: #222222;
    font-size: 22px;
    line-height: 28.05px;
    margin-bottom: 28px;
}

.big .block-description-text {
    font-size: 17px;
    line-height: 26px;
}

.block-category {
    font-size: 12px;
    color: #999999;
    line-height: 21.54px;
}

.qusten-block-text {
    font-size: 16px;
    color: #222222;
    line-height: 28.03px;
    width: 227px;
    font-weight: 400;
}

.quisten-block-img {
    margin-bottom: 30px;
}

.services-big-block {
    width: 100%;
    height: 221px;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer-subscribe {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    color: #ffffff;
}